<div class="buttons-container p-4 py-4  bg-danger">

    <!-- top buttons -->
    <div class="top-buttons-grid  ">
      <div class="d-flex justify-content-between   operators-container">
        <div (click)="this.deleteAll.emit()" class="button colorless-button">AC</div>
        <div (click)="this.changeInputByUnaryOperator.emit()" class="button colorless-button">-/+</div>
        <div (click)="this.changeInputByOperator.emit('%')" class="button colorless-button">%</div>
      </div>
    </div>

    <!-- right buttons -->
    <div class="b2 right-buttons-grid d-flex flex-column  align-items-center">
      <div class="h-100 d-flex flex-column justify-content-between operators-container ">
        <div (click)="this.changeInputByOperator.emit('/')" class="button colorless-button">/</div>
        <div (click)="this.changeInputByOperator.emit('*')" class="button colorless-button">*</div>
        <div (click)="this.changeInputByOperator.emit('-')" class="button colorless-button">-</div>
        <div (click)="this.changeInputByOperator.emit('+')" class="button colorless-button">+</div>
        <div (click)="this.equalButton.emit()" class="button colorless-button">=</div>
      </div>
    </div>

    <!-- middle buttons -->
    <div class="b3 d-flex justify-content-around justify-content-lg-between">

      <div class="d-flex flex-column justify-content-between">
        <div (click)="this.changeInputByNumber.emit('1')" class="button round-button shadow-sm">1</div>
        <div (click)="this.changeInputByNumber.emit('4')" class="button round-button shadow-sm">4</div>
        <div (click)="this.changeInputByNumber.emit('7')" class="button round-button shadow-sm">7</div>
        <div (click)="this.changeInputByDot.emit()" class="button round-button shadow-sm">.</div>
      </div>

      <div class="d-flex flex-column justify-content-between">
        <div (click)="this.changeInputByNumber.emit('2')" class="button round-button shadow-sm">2</div>
        <div (click)="this.changeInputByNumber.emit('5')" class="button round-button shadow-sm">5</div>
        <div (click)="this.changeInputByNumber.emit('8')" class="button round-button shadow-sm">8</div>
        <div (click)="this.changeInputByNumber.emit('0')" class="button round-button shadow-sm">0</div>
      </div>

      <div class="d-flex flex-column justify-content-between">
        <div (click)="this.changeInputByNumber.emit('3')" class="button round-button shadow-sm">3</div>
        <div (click)="this.changeInputByNumber.emit('6')" class="button round-button shadow-sm">6</div>
        <div (click)="this.changeInputByNumber.emit('9')" class="button round-button shadow-sm">9</div>
        <div (click)="this.changeInputByDoubleZero.emit()" class="button round-button shadow-sm">00</div>
      </div>
    </div>
    
</div>
  