.buttons-container {
    height: 60%;
    background: var(--secondary-bg);
    border-radius: 2rem 2rem 2rem 2rem;

    display: grid;
    grid-template-areas:
        "top-buttons-grid top-buttons-grid top-buttons-grid right-buttons-grid"
        "b3 b3 b3 right-buttons-grid"
        "b3 b3 b3 right-buttons-grid"
        "b3 b3 b3 right-buttons-grid";
}

.top-buttons-grid {
    grid-area: top-buttons-grid;
}

.right-buttons-grid {
    grid-area: right-buttons-grid;
}


.b3 {
    grid-area: b3;
}


.button {
    background-color: var(--transparent-bg);
    color: var(--text-color);
    height: 60px;
    width: 60px;
    border: none;
    font-weight: 500;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;

    display: flex;
    justify-content: center;
    align-items: center;

}

.button:hover{
    cursor: pointer;
    opacity: .7;
}

.round-button {
    border-radius: 2rem;
}

.colorless-button {
    background-color: transparent;
}

.operators-container {
    background-color: var(--transparent-bg);
    border-radius: 3rem;
}