<!-- main -->
<div class="main-container">
  <!-- calculator -->
  <div class="calculator-container">
    <!-- screen -->
    <div class="d-flex flex-column justify-content-between py-4 screen-container">

      <!-- theme and history bar-->
      <div class="d-flex justify-content-end">


        <!-- theme toggle button -->
        <div class="col-4 d-flex justify-content-center">
          <app-theme-toggle-button [theme] = "theme"(toggleTheme)="toggleTheme()"/>
        </div>

        <!-- last result button -->
        <div class="col-4 d-flex justify-content-center">
          <app-last-result-button (changeInputByLastResult)="changeInputByLastResult()"/>
        </div>
      </div>


      <!-- screen content -->
      <app-calculator-screen [input]="input" [history]="history"/>
      

    </div>


    <!-- calculator - buttons -->
    <app-calculator-buttons
    (changeInputByNumber)="changeInputByNumber($event)"
    (changeInputByOperator)="changeInputByOperator($event)"
    (changeInputByDot)="changeInputByDot()"
    (changeInputByUnaryOperator)="changeInputByUnaryOperator()"
    (changeInputByDoubleZero)="changeInputByDoubleZero()"
    (equalButton)="equalButton()"
    (deleteAll)="deleteAll()"
    />

  </div>
</div>