.main-container {
    height: 100vh;
    // border-radius: 2rem;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--secondary-bg);
}

.calculator-container {
    border-radius: 2rem;
    height: 700px;
    width: 400px;
    background: var(--main-bg);
}

.screen-container {
    height: 40%;
    overflow-x: hidden;
}



hr {
    border-top: 5px solid var(--text-color);
    width: 170px;
}





@media (max-width: 500px) {


    .button {
        height: 65px;
        width: 65px;
        font-weight: 700;
    }

    .calculator-container {
        height: 100%;
        width: 100%;
    }
}