.main-container {
    height: 100vh;
    
    background-color: black;
}

.calculator-container {
    height: 100%;
    width: 100%;
}

.screen-container {
    height: 40%;
}

.buttons-container {
    border-radius: 2rem 2rem 0 0;
    background-color: white;
}

.button {
    background-color: red;
    height: 65px;
    width: 65px;

    border: none;
}

.round-button {
    border-radius: 2rem;
}

hr{
    height: 5px;
    background-color: yellow;
    width: 170px;
}